.navbar {
   width: 100%;
   background-color: white;
}

.wd-nudge-up {
   bottom: 10px;
   left: 30px;
}



.profile-image {
   width: 30x;
   height: 30px;
   border-radius: 25px;
}

.nav {
   padding-bottom: 0px;
}

.nav > li {
   margin-right: 20px;
   margin-bottom: 0px;
}

.active {
   list-style-position:inside;
   border-bottom: 3px solid;
   border-bottom-color: #97A2A8;
}

.nav-item:hover {
   filter: brightness(115%);
}

.supporting-text {
   color: #97A2A8;
   font-size: 13px;
   font-weight: 500;
}

